.bar{
    height: 50px;
}
.link{
    background-color:navy;
    text-decoration: none;
    padding: 10px 20px;
    margin:0px 10px;
    color: white;
    border-radius: 10px;
}
.link:hover{
    color: tomato;
    padding: 10px 50px;
}